.intro {
  width: 984px;
  margin: 0 auto 90px;
}

.intro__text {
  width: 830px;
}

.intro__text-title {
  font-weight: bold;
  font-size: 54px;
  line-height: 58px;
  text-align: left;
  margin-top: 0px;
}

.intro__text-author {
  text-align: right;
}
.intro__text-footer {
  font-size: 16px;
}
