.lead {
  width: 984px;
  margin: 0 auto;
}

.lead__logo {
  margin: 0 auto 0px;
  width: 254px;
}

.lead__title {
  margin: 90px auto 0px;
  width: 720px;
  font-weight: bold;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  margin: 30px auto 0px;
  width: 720px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.lead__image {
  width: 984px;
  margin: 64px auto;
}
